/* insert sans-serif font for all html and body */
html, body {
    font-family: 'Arial', sans-serif;
}

a {
    color: #0066cc;
    text-decoration: none;
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;
}

/* Base layout */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 2rem;
}

/* Upload component */
.drop-zone {
    width: 100%;
    max-width: 400px;
    height: 200px;
    padding: 25px;
    border: 2px dashed #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: border .3s ease;
}

.drop-zone.drag-over {
    border-color: #000;
    background: #f7f7f7;
}

.status {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

.status.error { 
    background: #ffe6e6; 
}

.status.success { 
    background: #e6ffe6; 
}

/* Jobs lists */
.jobs-list {
    border: 1px solid #eee;
    border-radius: 4px;
    min-height: 50px;
    margin-top: 10px;
}

.no-jobs {
    padding: 15px;
    color: #666;
    text-align: center;
}

.job-item {
    padding: 15px 15px 0 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.job-item:last-child {
    border-bottom: none;
}

.job-filename {
    
}

.job-spec {
    font-size: small;
    font-weight: bolder;
}

.job-time {
    font-size: x-small;
    color: #666;
}

.job-files {
    display: flex;
    gap: 10px;
}

.job-files:has(*) {
    padding-bottom: 15px;
}

h2 > div {
    display: inline;
    font-size: small;
}

.normal-termination {
    font-size: x-small;
}

.normal-termination.true {
    color: #00cc00;
}

.normal-termination.false {
    color: #cc0000;
}

.error-termination-reason {
    font-size: x-small;
    color: #cc0000;
}

.job-results {
    margin-top: -3px;
    font-size: smaller;
    font-family: monospace;
}

.btn-clipboard {
    border: 0;
    background: transparent;
    color: #0066cc;
    cursor: pointer;
    font-size: medium;
}

.btn-clipboard img {
    vertical-align: middle;
} 