/* insert sans-serif font for all html and body */
html, body {
    font-family: 'Arial', sans-serif;
}

a {
    color: #0066cc;
    text-decoration: none;
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;
}

/* Base layout */
main {
    max-width: 780px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 2rem;
}

/* Upload component */
.drop-zone, #cad-frame, #gizmo-frame {
    width: 100%;
    height: 200px;
    border: 1px dashed #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: border .3s ease;
}

.drop-zone.drag-over {
    border-color: #000;
    background: #f7f7f7;
}

.status {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

.status.error { 
    background: #ffe6e6; 
}

.status.success { 
    background: #e6ffe6; 
}

/* Jobs lists */
.jobs-list {
    min-height: 50px;
    margin-top: 10px;
}

.no-jobs {
    padding: 15px;
    color: #666;
    text-align: center;
}

.job-item {
    padding: 10px 15px 0 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0;
}

.job-spec {
    font-family: monospace;
    font-weight: bolder;
}

.job-time {
    font-size: x-small;
    color: #666;
    margin-top: -3px;
}

.job-files {
    display: flex;
    gap: 10px;
}

.job-files:has(*) {
    padding-bottom: 10px;
}

h2 > div {
    display: inline;
    font-size: small;
}

.normal-termination {
    font-size: x-small;
}

.normal-termination.true {
    color: #00cc00;
}

.normal-termination.false {
    color: #cc0000;
}

.error-termination-reason {
    font-size: x-small;
    color: #cc0000;
}

.job-results {
    margin-top: -3px;
    margin-left: 6px;
    margin-bottom: 5px;
    font-size: smaller;
    font-family: monospace;
}

.btn-clipboard {
    border: 0;
    background: transparent;
    color: #0066cc;
    cursor: pointer;
    font-size: medium;
}

.btn-clipboard img {
    vertical-align: text-bottom;
}

#cad-frame {
    height: 600px;
    cursor: default;
    position: relative;
    border: none;
    border-radius: 0;
    z-index: 0;
}

#cad-frame > canvas {
    border: 1px dashed #ccc;
    border-radius: 4px;
}

#gizmo-frame {
    height: 100px;
    width: 100px;
    cursor: default;
    position: absolute;
    left: 0;
    bottom: 0;
    border: none;
    border-radius: 0;
    z-index: 1;
}

#gizmo-frame > canvas {
    border: 1px solid #ccc;
    border-radius: 0;
}