# This is the Example run configuration file
# This comment can be attached to the job info later
WORKER=PySCF

FUNCTIONAL=b3lyp
BASIS=6-31g**
TASK=OPTIMIZE

TAGS=MVP_TEST,CH4

#CHKFILE=test_tasks/chkfiles/step_0000.chk
OUT_CHKFILES=True